<div class="create_card-block">
    <div class="create_card__number_card">Карта номер: <span id="number_card_id">1</span></div>
    <form action="" method="post">
        <input type="file" name="photo" multiple
        title="Загрузите одну или несколько фотографий" accept="image/*">
        <input type="text" placeholder="Вопрос" class="create_card__input_question field" name="input_question">
        <input type="text" placeholder="Ответ" class="create_card__input_answer field" name="input_answer">
    </form>
</div>