<div class="create_card-block">
    <div class="create_card__number_card">Карта номер: <span id="number_card_id" class="field" nom="1">1</span></div>
        <input type="file" class="create_card__input_photo" name="photo-1" multiple
        title="Загрузите одну или несколько фотографий" accept="image/*" class="field">
        <input type="text" placeholder="Вопрос" class="create_card__input_question field" name="input_question" required="true">
        <input type="text" placeholder="Ответ" class="create_card__input_answer field" name="input_answer" required="true">
    <button class="create_card__delete_button">Удалить карточку</button>
</div>