@media (max-width: 480px) {
    .wrap {
        margin: 0 12px;
    }

    .main-header {
        padding: 0.8rem 0;
    }

    .main-header__wrap {
        flex-direction: column;
        gap: 0.8rem;
        
    }

    .main-header__user-block {
        justify-content: center;
        padding: 0.6rem 1rem;
        flex-wrap: wrap;
        gap: 0.6rem;
    }

    .main-header__avatar-user {
        width: 32px;
        height: 32px;
    }

    .main-header__user-block a,
    .main-header__user-block button {
        padding: 0.4rem 0.8rem;
        font-size: 0.9rem;
    }

    #find {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        align-items: center;
        width: 100%;
    }

    #find_group {
        width: 100% !important;
        max-width: 300px;
        font-size: 0.95rem;
        padding: 0.7rem 1rem;
    }

    #find button {
        width: 100%;
        max-width: 300px;
        padding: 0.7rem;
        font-size: 0.95rem;
    }

    .link_search_groups {
        margin-left: 0;
        padding: 0.6rem 1.2rem;
        font-size: 0.95rem;
    }

    .logo_title {
        font-size: 20px;
        justify-content: center;
    }

    .main_logo {
        margin-right: 8px;
        width: 28px;
        height: auto;
    }

    .group-item__avatar-user {
        width: 50px;
        height: 50px;
    }
    #groups-list{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
