{% extends "main/index.html" %}

{% block title %}QuestAns | Создание группы {% endblock %}

{% block content %}
{% include 'main/header.html' %}
    <main class="main-block wrap">
        <form method="post">
            {% csrf_token %}
            <input type="text" placeholder="Название группы карт" class="create_group__input-title">
            
            
            
            <input class="create_group_button_add_card" type="button" value="Добавить карточку">
            <button id="create_group__add_card">Опубликовать группу карт</button>
        </form>
    </main>
{% endblock %}