{% extends 'main/index.html' %}

{% block title %}QuestAns | {{group.title}}{% endblock %}

{% load static %}

{% block content %}
{% include 'main/header.html' %}
<main class="main-block main-block__go_test wrap">
    <h4>Вы решаете тест "{{group.title}}"</h4>
    <aside class="navigation_cards">
        {% for card in cards %}
            <button onclick="on_chose_another_card(`{{forloop.counter}}`,`{{group.id}}`)">{{forloop.counter}}</button>
        {% endfor %}
    </aside>
    <div class="question-block" id="question-block" zachet="{{group.id}}"></div>
    <script src="{% static 'cards/scripts/reshalka.js' %}"></script>
</main>
{% endblock %}