{% extends 'main/index.html' %}

{% block title %}QuestAns | {{group.title}}{% endblock %}

{% block content %}
{% include 'main/header.html' %}
    <main class="main-block main-block__group wrap">
        
        {{group.title}}
        <a href="{% url 'home'%}">На главную</a>
        <ul class="card-list">
            {% for card in cards %}
            <li class="card-item"> 
                {% if card.gallery %}
                    {{card.gallery.first.url}}
                    {% for photo in card.gallery %}
                        <img src="{{photo.photo.url}}" alt="">
                    {% endfor %}
                {% endif %}
                <p>Вопрос: {{card.card_object.question}}</p>
                <p>Ответ: {{card.card_object.answer}}</p>
            </li> 
            {% endfor %}
        </ul>
        <a href="{% url 'go_test' group_id=group.id %}">Решать тест</a>
        {% if request.user != group.author and user.is_authenticated %}
            {% if not was_rated %}
                <div class="group__raiting">
                    <select id="raiting__input">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <button>Оценить</button>
                </div>
            {% else %}
                <span>Ваша оценка: {{was_rated}}</span>
                <button>Отменить оценку</button>
            {% endif %}
        {% endif %}
    </main>
{% endblock %}