{% extends "main/index.html" %}

{% block title %}QuestAns | Регистрация{% endblock %}

{% block content %}
<main class="auth-block">
    <form action="" method="post">
        {% csrf_token %}
        
        
        {{form.email}}
        {{form.username}}
        {{form.password1}}
        {{form.password2}}
        {{form.non_field_errors}}
        <a href="{% url 'login' %}" class="link-in-auth">Уже есть аккаунт</a>
        <input type="submit" value="Зарегистрироваться">
    </form>
</main>
{% endblock content %}