{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'cards/slyles/results.css'%}">
    <link rel="stylesheet" href="{% static 'cards/slyles/group.css'%}">
    <link rel="stylesheet" href="{% static 'main/styles/norms.css'%}">
    <link rel="stylesheet" href="{% static 'main/styles/main.css'%}">
    <link rel="stylesheet" href="{% static 'main/styles/main1024.css'%}">
    <link rel="stylesheet" href="{% static 'main/styles/main480.css'%}">
    <link rel="stylesheet" href="{% static 'users/styles/users.css'%}">
    <link rel="stylesheet" href="{% static 'profileApp/styles/profileApp.css'%}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    
    {% block content %}{% endblock %}
    <script src="{% static 'cards/scripts/cookie.js'%}"></script>
    
</body>
</html>