{% extends "main/index.html" %}

{% block title %}QuestAns | {{request.user.username}}{% endblock %}

{% load static %}
{% block content %}
{% include 'main/header.html' %}
    <main class="main-block wrap">
        <a href="{% url 'home'%}"><---На главную</a>
        <div class="profileApp__profile_inf">
            {% if user.avatar %}
                <img src="{{ user.avatar.url }}" class="profile__avatar-user" alt="" >
            {% else %}
                <img src="/static/main/images/non-auth.png" class="profile__avatar-user" alt="">
            {% endif %}
            <h4 class="profileApp__your_name">{{user}}</h4>
            {% if request.user.is_superuser %}
                <span>(Суперпользователь)</span>
            {% endif %}
            <span>Изменить фото профиля</span>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                {{form.avatar}}
                <input type="submit" value="Сохранить" id="edit-photo-button" name="photo_edit_button">
            </form>
        </div>
        <div class="profileApp__my_groups">
            <h4>Мои группы:</h4>
            <ul id="groups-list">
                {% for group in my_groups %}
                    <li class="group-item">
                        <a href="{% url 'group' group_id=group.id %}">
                            <h4 class="group-item__title">{{group.title}}</h4>
                            <img src="{% static 'cards/images/logo.png' %}" alt="" class="group-item__face_photo">
                            <span>Оценка: {{group.group_raiting}}</span>
                        </a>
                    </li>
                {% endfor %}
                <li class="group-item">
                    <a href="{% url 'create_group' %}">
                        <h4 id="group-item__title">Создать группу</h4>
                    </a>
                </li>
            </ul>
        </div>
        <div class="profile_App__save_groups">
            <h4>Сохраненные группы:</h4>
            <ul id="groups-list">
                {% for save_group in save_groups %}
                    <li class="group-item">
                        <a href="{% url 'group' group_id=save_group.id %}">
                            <h4 class="group-item__title">{{save_group.title}}</h4>
                            <img src="{% static 'cards/images/logo.png' %}" alt="" class="group-item__face_photo">
                            <span class="group-item__author">Автор: {{save_group.author}}
                                {% if save_group.author.avatar %}
                                    <img src="{{save_group.author.avatar.url}}" class="group-item__avatar-user">
                                {% else %}
                                    <img src="{% static 'main/images/non-auth.png' %}" class="group-item__avatar-user">
                                {% endif %}
                            </span>
                            <span class="group-item__rait">Оценка: {{save_group.group_raiting}}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </main>
{% endblock %}